@media screen and (max-width: 1024px) {
 
 div {
 	padding-bottom: 5em;
 }

.namestyle {
	margin-left: 180px;
}

 .connect { /* section placement */
	width: 520px;
	margin: 40px 0 0 180px;
	border-radius: 10px;
	}
 .aboutme { /* content and div placement */
	width: 520px;
	height: 400px;
	margin-left: 180px;
	padding-bottom: none;
	}

 .icon {
 	width: 110px;
 	margin: 1.5em;
 }
} 
/*End of 1024 query*/

@media screen and (max-width: 768px) {
 .connect { /* section placement */
	width: 520px;
	margin-left: 60px;
	border-radius: 10px;
 }

 .aboutme, .namestyle {
 	margin-left: 40px;
 }

 nav {
 	float: left;
 	padding-right: 15px;
 }

}
/*End of 768 query*/

@media screen and (max-width: 750px) {

 body {
 	margin-left: 2em;
 }

 p {
 	height: 40px;
 }

 nav {
 	float: left;
 	padding-left: 185px;
 }

  .aboutme, .connect { /* section placement */
	margin-left: 10px;
	border-radius: 10px;
	height: 300px;
 }

 .namestyle {
 	margin-left: 10px;
 }

 .icon {
 	width: 60px;
 	height: 60px;
 	margin: 1em;
 }

 .divider {
 	width: 80%;
 }

}
/*End of 750 query iphone 7*/

@media screen and (max-width: 414px) {
 
 p {
 	height: 30px;
 }

 div {
 	float: left;
 }

 nav {
 	padding-left: 15px;
 	padding-right: 0;
 }

 .divider {
 	width: 75%;
 }

 .namestyle {
 	margin-left: 20px;
 }
 .connect { /* section placement */
	width: 285px;
	height: 200px;
	border-radius: 10px;
 }
 .aboutme { /* content and div placement */
	width: 285px;
	height: 250px;
	margin-bottom: 100px;
	padding-bottom: none;
 }

 .icon {
 	width: 40px;
 	height: 80px;
 }

 footer {
 	overflow: auto;
 }
}

